<div class="content-wrapper">
  <div [class]="(isShow ? 'show ' : 'hide ') + 'sidebar position-fixed'">
    <div class="sidebar_header py-4">
      <img [src]="charState.activeIcon()" alt="" />
      <h6>{{ charState.activeName() }}</h6>
    </div>
    <div class="sidebar_list">
      <ul>
        @for (nav of navList; track nav.id) {
        <li
          [class]="
            isRouteActive(nav.path) ? charState.activeColor() + '-border' : ''
          "
        >
          <a [routerLink]="nav.path">{{ nav.label }}</a>
        </li>
        }
      </ul>
    </div>
  </div>

  <div class="content-group">
    <div
      class="overflow-hidden d-flex align-items-center justify-content-end position-relative mt-3 d-flex"
    >
      @if(hideHeader()){
      <div class="input-group p-3">
        <div
          (click)="openModal()"
          class="form-control fake-searchbar rounded-5 px-4"
        >
          <span>Buscar...</span>
          <i class="bi bi-search"></i>
        </div>
      </div>
      }
      <button
        (click)="toggleMenu()"
        class="burguer-menu p-2 border-0 bg-transparent"
      >
        <i class="bi bi-list"></i>
      </button>
    </div>
    <div class="content">
      <ng-content />
    </div>
  </div>
</div>
