@import "custom";

$white: map-get($colors, "white");
$greyish: map-get($colors, "greyish");
$darker_space: map-get($colors, "darker_space");
$esmerald: map-get($colors, "esmerald");

.content-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;

  .sidebar {
    background-color: $white;
    width: 240px;

    &_list ul {
      list-style: none;
      line-height: 45px;

      li {
        font-size: $text_base;
        a {
          text-decoration: none;
          color: $darker_space;
        }
      }
      .active-route {
        color: $darker_space;
        border-right: 5px solid $esmerald;
        > a {
          color: $esmerald;
          font-weight: 600;
        }
      }
    }
  }
  .content-group {
    background-color: $greyish;
    width: 100%;
    height: 100%;
    margin-left: 240px;

    .input-group {
      input {
        height: 50px;
      }
    }

    .content {
      padding: 25px;
    }
  }
}
