@import "custom";

$white: map-get($colors, "white");
$greyish: map-get($colors, "greyish");
$darker_space: map-get($colors, "darker_space");
$blue: map-get($colors, "blue");

.content-wrapper {
  display: flex;
  flex-direction: row;
  background-color: $white;
  min-height: 100vh;
  height: max-content;

  .sidebar {
    background-color: $white;
    width: 240px;

    .sidebar_header {
      position: relative;
      overflow: hidden;
      text-align: center;

      img {
        width: 65px;
      }
    }

    &_list ul {
      list-style: none;
      line-height: 45px;

      li {
        font-size: $text_base;
        a {
          text-decoration: none;
          color: $darker_space;
          font-weight: 600;
        }
      }
      .active-route {
        color: $darker_space;
        border-right: 5px solid $blue;
        > a {
          color: $blue;
        }
      }
    }
  }
  .content-group {
    background-color: $greyish;
    width: 100%;
    margin-left: 240px;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;

    .input-group {
      .fake-searchbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 50px;
        cursor: text;

        &:hover {
          box-shadow: 0 0 2px $blue;
        }
      }
    }

    .content {
      padding: 25px;
    }
  }
}
