<div class="content-wrapper">
  <div class="sidebar position-fixed">
    <div class="sidebar_header">
      <img src="" alt="" />
    </div>
    <div class="sidebar_list">
      <ul>
        @for (nav of navList; track nav.id) {
        <li [class]="isRouteActive(nav.path) ? 'active-route' : ''">
          <a [routerLink]="nav.path">{{ nav.label }}</a>
        </li>
        }
      </ul>
    </div>
  </div>
  <div class="content-group">
    @if(hideHeader()){
    <div class="header">
      <div class="input-group p-3">
        <div
          (click)="openModal()"
          class="form-control fake-searchbar rounded-5 px-4"
        >
          <span>"Buscar..."</span>
          <i class="bi bi-search"></i>
        </div>
      </div>
    </div>
    }
    <div class="content">
      <ng-content />
    </div>
  </div>
</div>
