<div class="content-wrapper">
  <div class="sidebar position-fixed">
    <div class="sidebar_header py-4">
      <img [src]="charState.activeIcon()" alt="" />
      <h6>{{ charState.activeName() }}</h6>
    </div>
    <div class="sidebar_list">
      <ul>
        @for (nav of navList; track nav.id) {
        <li
          [class]="
            isRouteActive(nav.path) ? charState.activeColor() + '-border' : ''
          "
        >
          <a [routerLink]="nav.path">{{ nav.label }}</a>
        </li>
        }
      </ul>
    </div>
  </div>
  <div class="content-group">
    @if(hideHeader()){
    <div class="overflow-hidden text-center position-relative mt-3">
      <div class="input-group p-3">
        <div
          (click)="openModal()"
          class="form-control fake-searchbar rounded-5 px-4"
        >
          <span>Buscar...</span>
          <i class="bi bi-search"></i>
        </div>
      </div>
    </div>
    }
    <div class="content">
      <ng-content />
    </div>
  </div>
</div>
