<div
  (click)="goToCharPage(data.id)"
  tabindex="0"
  class="custom-card bg-white rounded-5 position-relative shadow-sm"
>
  <div>
    <!-- {{ data.image }}
    {{ data.gender }}
    {{ data.location }}
    {{ data.origin }} -->
  </div>
  <div class="border curved">
    <button>
      <i class="bi bi-heart"></i>
    </button>
  </div>
  <span class="fw-bold pb-2">
    {{ data.name }}
  </span>
  <img [src]="data.image" class="w-100" [alt]="data.name" />
  <div class="char-infos position-absolute bg-white">
    <span>
      <i [class]="filterGender(data.gender).icon"></i>
    </span>
    <span>
      <i [class]="filterStatus(data.status).icon"></i>
    </span>
    <span>
      <i [class]="filterSpecies(data.species).icon"></i>
    </span>
  </div>
</div>
