.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;

  img {
    width: 200px;
    border-radius: 100%;
  }

  div {
    :first-child {
      display: flex;
      align-items: center;
      gap: 10px;
      button {
        background-color: transparent;
        font-size: large;
        border: none;
        transition: ease-in 0.2s;

        &:hover {
          transform: scale(1.2);
        }
      }
    }

    > .profile-details {
      font-size: 1.2rem;

      > div {
        align-items: center;
      }
      i {
        font-size: 1.5rem;
      }
    }
  }

  @media screen and (max-width: 768px) {
    flex-direction: column;
    > div > :first-child {
      justify-content: center;
    }
  }
}
