$colors: (
  "blue": #20a4f3,
  "green": #4cb944,
  "pink": #e83e8c,
  "red": #dc3545,
  "white": #fff,

  "space": #2d3047,
  "darker_space": #171923,
  "soft_blue": #4c6085,
  "brownish": #c1b2ab,
  "primary": #ff6600,
  "yellow": #fcd757,

  "esmerald": #5abcb9,
  "aqua": #6ef9f5,
  "cyan": #00f2f2,
  "greyish": #f2f2f2,
);

@each $name, $value in $colors {
  .text-#{$name} {
    color: $value !important;
  }
  .bg-#{$name} {
    background-color: $value !important;
  }
  .btn-#{$name} {
    background-color: $value !important;
    color: map-get($map: $colors, $key: "white");
    transition: ease-out 0.2s;

    &:hover {
      opacity: 80%;
      color: map-get($map: $colors, $key: "white");
    }
  }
  .text-bg-#{$name} {
    background-color: $value !important;
    color: map-get($map: $colors, $key: "white") !important;
  }
}

// font
$text_sm: 0.8rem;
$text_base: 1rem;
$text_lg: 1.5rem;
$text_xl: 2rem;

.w-fit {
  width: fit-content;
}

.rounded-full {
  border-radius: 100px;
}

.no-padding-row {
  margin-left: 0;
  margin-right: 0;

  > [class*="col"] {
    padding-left: 0;
    padding-right: 0;
  }
}
.row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}

ngb-pagination {
  .pagination {
    gap: 9px;
  }
  li.page-item {
    border-radius: 12px !important;
  }
  .page-link:focus {
    box-shadow: none !important;
  }
  .page-link.active,
  .active > .page-link {
    background-color: map-get($map: $colors, $key: "blue") !important;
    border-radius: 4px;
  }

  .page-link,
  .active > .page-link {
    color: map-get($map: $colors, $key: "space") !important;
  }

  li.active > .page-link {
    color: map-get($map: $colors, $key: "white") !important;
  }
}
