<div class="container">
  @if(!characterList){
  <h4 class="my-4">Não existem episódios com esse personagem.</h4>
  }@else {
  <app-list-header
    title="Enontre todos os personagens da série!"
    (clearFilters)="clearFilters()"
    [hasFilters]="isFiltered"
  />
  <div
    class="row no-padding-row gap-4"
    appInfiniteScroll
    (nearEnd)="loadMoreData()"
  >
    @for(char of characterList; track char.id){
    <div class="col-auto">
      <app-character-card [data]="char" />
    </div>
    }
  </div>
  }
</div>
