<app-modal-template [isSearch]="false" [title]="modalData.title">
  <div class="characters_previews">
    <h4 class="mb-4">Personagens nesse episódio</h4>
    <div>
      <app-horizontal-scroller>
        @for(char of charList; track char.id){
        <img
          (click)="goToCharPage(char.id)"
          [src]="char.image"
          [alt]="char.name"
        />
        }
      </app-horizontal-scroller>
    </div>
    <div class="d-flex gap-2 float-end mt-4">
      <span class="badge rounded-pill text-bg-soft_blue fs-6"
        >Cód. {{ epData.episode }}</span
      >
      <span class="badge rounded-pill text-bg-soft_blue fs-6">{{
        getEpisode(epData.episode)
      }}</span>
      <span class="badge rounded-pill text-bg-soft_blue fs-6"
        >Exibido em: {{ epData.air_date }}</span
      >
    </div>
  </div>
</app-modal-template>
