<div class="container d-grid gap-2">
  <div class="row no-padding-row gap-2">
    <div class="col form-floating col">
      <input
        type="text"
        class="form-control"
        placeholder="Buscar..."
        id="charName"
        [(ngModel)]="query.name"
      />
      <label class="mx-2" for="charName">Nome do personagem</label>
    </div>
  </div>
  <div class="row no-padding-row gap-2">
    <div class="form-floating col">
      <select [(ngModel)]="query.status" class="form-select" id="charStatus">
        <option selected>Selecione uma opção</option>
        @for(status of charStatus; track status) {
        <option [value]="status.value">{{ status.label }}</option>
        }
      </select>
      <label class="mx-2" for="charStatus">Status do personagem</label>
    </div>
    <div class="form-floating col">
      <select [(ngModel)]="query.gender" class="form-select" id="charGenders">
        <option selected>Selecione uma opção</option>
        @for(gender of charGenders; track gender) {
        <option [value]="gender.value">{{ gender.label }}</option>
        }
      </select>
      <label class="mx-2" for="charGenders">Gênero do personagem</label>
    </div>
  </div>
</div>
