.slider-container {
  position: relative;

  button:first-child,
  button:last-child {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    background-color: transparent;
    border: none;
    outline: none;
  }

  button:first-child {
    left: 0;
  }

  button:last-child {
    right: 0;
  }

  .scroller-content {
    margin: 0 35px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    overflow: auto;
    white-space: nowrap;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
